{% extends 'layout.twig' %}
{% block body %}<h1>Breathe</h1>
<canvas id="canvasBreathe"></canvas>

{% endblock %}
{% block javascript %}
{% raw %}
   <script>
   </script>
{% endraw %}
{% endblock %}
