{% extends 'layout.twig' %}
{% block body %}<h1>Breathe</h1>
<p>test</p>{% endblock %}
{% block javascript %}
{% raw %}
   <script>
   var basic = "Test valeur";

   console.log(basic)
   </script>
{% endraw %}
{% endblock %}
