{% extends 'layout.twig' %}
{% block body %}
    <div id = "contentBreathe">
         <h1>Breathe</h1>
        <button class = "buttonBackHome"
                id = "buttonHomePageBreathe">Home Page</button>
    <canvas id = "canvasBreathe"></canvas>
    <div class = "centerStudy">
        <button id = "buttonStartBreathing"
                class = "paraStudy">Start a 10 min Breathing session</button>
        <div id = "paraBreathe"></div>
    </div>
     </div>
{% endblock %}
{% block javascript %}
{% raw %}
   <script>
   </script>
{% endraw %}
{% endblock %}
