{% extends 'layout.twig' %}
{% block body %}<h1>Gain stars</h1>
    <p>Number of stars : {{ stars }}</p>{% endblock %}
{% block javascript %}
{% raw %}
   <script>

   </script>
{% endraw %}
{% endblock %}

