{% extends 'layout.twig' %}
{% block body %}<div id="contentGain">
    <h1>Gain stars</h1>
  <button class="buttonBackHome" id="buttonHomePageGain">Home Page</button>
    <h3>Here you can find all the stars you've won so far</h3>
    <p id="paraNumberStars">You currently have <strong>{{ stars }} </strong>stars.</p>
    <div class = "centerStudy">
        <button id = "btnBackToStudy">Want to do another session ? Click here !</button>
        <button id = "btnBackToBreathe">Want to take a break ? Click here !</button>
    </div></div>
{% endblock %}
{% block javascript %}
{% raw %}
   <script>

   </script>
{% endraw %}
{% endblock %}

