{% extends 'layout.twig' %}
        {% block body %}

    <div id="contentHome">
        <h1>Breathe, Chill, Enjoy !</h1>
    <div id = "div-btn-home">
    <button id = "breatheButton"
            class = "btn-home">Breathe</button>
    <button id = "studyButton"
            class = "btn-home">Study</button>
    <button id = "gainButton"
            class = "btn-home">Gain</button>

       </div><div id="divIconFistHome"><i class="fas fa-fist-raised" id="iconFistHome"> Get motivated !</i></div>
</div>
        {% endblock %}
    {% block javascript %}
    {% raw %}
    <script>
    homeJS();

    </script>
    {% endraw %}
        {% endblock %}
