{% extends 'layout.twig' %}
{% block body %}
    <div id = "contentHome">
    <div id = "div-btn-home">
    <button id = "breatheButton"
            class = "btn-home">Breathe</button>
    <button id = "studyButton"
            class = "btn-home">Study</button>
    <button id = "gainButton"
            class = "btn-home">Gain</button>
    </div>
</div>
{% endblock %}
    {% block javascript %}
    {% raw %}
    <script>
var breatheButton = document.getElementById("breatheButton");
var studyButton = document.getElementById("studyButton");
var gainButton = document.getElementById("gainButton");
var content = document.getElementById("content");


breatheButton.addEventListener("click", function(e) {
    window.location.href = "/breathe";
});

studyButton.addEventListener("click", function(e) {
 window.location.href = "/study";
});

gainButton.addEventListener("click", function(e) {
 window.location.href = "/gain";
});

    </script>
    {% endraw %}
        {% endblock %}
