{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>

    <button>SImple</button>
{% endblock %}
    {% block javascript %}
    {% raw %}
    <script>

    </script>
    {% endraw %}
        {% endblock %}
