{% extends 'layout.twig' %}
{% block body %}
    <div id = "contentMotivated">
    <h1>Motivational sentences </h1>
    Voici le message : {{ message }}
    </div>
{% endblock %}
{% block javascript %}
{% raw %}
   <script>

   </script>
{% endraw %}
{% endblock %}
