{% extends 'layout.twig' %}
{% block body %}
    <div id = "contentMotivated">
    <h1>Motivational sentences </h1>
         <button class = "buttonBackHome"
                 id = "buttonHomePageMotivated">Home Page</button>
    <div id="motivatingMsg">" {{ message }} "</div>
            </div>
{% endblock %}
{% block javascript %}
{% raw %}
   <script>

   </script>
{% endraw %}
{% endblock %}
