{% extends 'layout.twig' %}
{% block body %}<h1>Study hard</h1>
    <button id="startSessionButton">Start a 55min session</button>
    <div id="paraStudy"></div>
    <button id="buttonStopStudy" style="display:none">Stop</button>
    <p id="stopCountMessage"></p>
{% endblock %}
{% block javascript %}
{% raw %}
<script>
</script>
{% endraw %}
{% endblock %}

