{% extends 'layout.twig' %}
{% block body %}<h1>Study hard</h1>
    <button id="startSessionButton">Start a 55min session</button>
    <button id = "sendIt">Send to gain!</button>
    <div id="paraStudy"></div>

{% endblock %}
{% block javascript %}
{% raw %}
<script>
</script>
{% endraw %}
{% endblock %}

