body {
    padding: 50px;
    font: "Times New Roman";
    color: lightblue;
}

h1 {
    text-align: center;
    font-style: italic;
}

#div-btn-home {
    text-align: center;
}

.btn-home {
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 120px;
    border: none;
    color: white;
    font-size: 26px;
    border-radius: 50%;
    padding: 50px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #555555;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#homeIcon {
    cursor: pointer;
    font-size: 30px;
    color: dimgrey;
    float: left;
}

#homeIcon:hover {
    transform: scale(1.1);
}

#infoIcon {
    cursor: pointer;
    font-size: 30px;
    color: dimgrey;
   float: right;
}

#infoIcon:hover {
    transform: scale(1.1);
}

#content {
    position: relative ;
}
#infoSquare {
    background-color : darkgray;
    padding-left : 10px;
    padding-right : 300px;
    padding-top : 10px;
    padding-bottom : 80px;
    float: right;
}
